[Unit]
Description=WSO2IS
After=network.target

[Service]
ExecStart=/usr/lib/wso2/wso2is/5.6.0/bin/wso2server.sh start
ExecStop=/usr/lib/wso2/wso2is/5.6.0/bin/wso2server.sh stop
ExecRestart=/usr/lib/wso2/wso2is/5.6.0/bin/wso2server.sh restart
PIDFile=/usr/lib/wso2/wso2is/5.6.0/wso2carbon.pid
User=root
Group=root
Type=forking
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
[Install]
WantedBy=multi-user.target
